POSTGRES_HOST=your_supabase_host
POSTGRES_PORT=5432
POSTGRES_DATABASE=postgres
POSTGRES_USER=your_supabase_user
POSTGRES_PASSWORD=your_supabase_password
POSTGRES_SSLMODE=require

SUPABASE_PROJECT_URL=your_supabase_project_url
SUPABASE_ANON_KEY=your_supabase_anon_key